body {
    width: 832px;
    text-align: justify;
    /* arxiv-html uses rival-sans which is proprietary */
    font-family: Ubuntu, Roboto, "Noto Sans", "Liberation Sans", Arial, system-ui, sans-serif;
    margin: 50px auto;
}

a {
    color: #1b7cac;
}

h2 {
    font-size: 22.4px;
}

h3 {
    font-size: 19.2px;
}

h4 {
    font-size: 16px;
}

